
/* icons */


/*
 * missing icons
 * 
 * plus   (using add-item, but plus, times, minus  preferred as they match size/width)   
 * times  (called 'close', this describes function not the icon)
 * minus  (using 'close', but minus preferred)
 * warning (using 'close', but more specific icon preferred)
 * download (using 'export'. This looks an export to cloud, rather than a download to local. Does it matter? I'm not sure)
 * envelope (no suitable icon, using 'feather')
 * info (no suitable icon, using 'feather')
 * spinner (using 'gear')
 * go (using 'arrow-right')
 * question (using 'close')
 * th (no suitable icon, using feather. th was used for image-grid-view)
 * 
 * Using the close icon for: close, delete, error, failure, warning
 * 
 * 

 */
.arrow-closed.icon    {@include icon('up')}
.arrow-open_icon      {@include icon('down')}

.add_icon             {@include icon('add-item');}
.back_icon            {@include icon('left');}
.close_icon           {@include icon('close')}

.delete_icon,
.delete_section_icon  {@include icon('close', $icon_delete_colour);}

.download_icon        {@include icon('export');}
.edit_email_icon      {@include icon('feather', $icon_edit_colour);}
.edit_icon            {@include icon('edit', $icon_edit_colour);}
.email_icon           {@include icon('feather');}
.error_icon           {@include icon('close', $icon_error_colour);}
.failure_icon         {@include icon('close');}
.folder_icon          {@include icon('folder', $icon_folder_colour)}
.go_icon              {@include icon('log-in');}
.info_icon            {@include icon('feather');}
.loading_icon         {@include icon('gear'); @extend .icon-spin}
.page_icon            {@include icon('file',$icon_page_colour)}
.preview_icon         {@include icon('eye', $icon_preview_colour)}
.remove_icon          {@include icon('unlink', $icon_delete_colour);}
.reorder_done_icon    {@include icon('check')}
.reorder_h_icon       {@include icon('reorder');}
.reorder_icon         {@include icon('bars');}
.reorder_icon.loading {@include icon('gear')}
.search_icon          {@include icon('search')}
.settings_icon        {@include icon('gear')}
.spam_empty_icon      {@include icon('trash');}
.spam_icon            {@include icon('trash', $icon_warning_colour);}
.success_icon         {@include icon('check');}
.switch_view_grid_icon {@include icon('feather')}
.switch_view_list_icon {@include icon('list')}
.upload_icon          {@include icon('publish');}
.user_comment_icon    {@include icon('chat');}
.warning_icon         {@include icon('close', $icon_warning_colour)}

.hidden_icon  {display:none}
.unhidden_icon {display: inline-block}

// stacked icon/text used for locales
.locale_marker {
    display: inline-block;
    font-size: 8px;
    margin-right: 10px;
    position: relative;
    top: -8px;
    .icon-stack strong {
      left: 7px;
      line-height: 1em;
      position: absolute;
      top: 9px;
    }
}

// don't want underlines on icons
#content a[class$='icon'] {border-bottom: none}
#content a[class$='icon']:hover {border-bottom: none}

